@media screen and (max-width: 991px){

     *{ 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Robboto',sans-serif;
    }
    /* body{ 
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    .nav-toggle{
        display: block;
        
    }

    nav .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: blueviolet;
        top: 80px;
        left: 0;
        text-align: center;
    /* }  */
    
}